body {

}

#container {
	background-color: #fbfaf7;
	opacity: 0.8;
}

#menu {
	display: none;
}

article {
	height: 300px;
}

.flex-container {
	display: flex;
}

.plantImage {
	height: 200px;
	width: auto;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
