body {
	box-sizing: border-box;
	background-color: #fbfaf7;
}

/*** navigation for full screen ***/
.topnav {
	box-sizing: border-box;
	justify-content: center;
	background-color: #437214;
	position: fixed;
	z-index: 99;
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.topnav a {
	box-sizing: border-box;
	color: #fbfaf7;
	text-align: center;
	padding: 0.8rem;
	text-decoration: none;
	font-size: 1.2rem;
}

.topnav a:hover {
	background-color: #d9f4be;
	color: black;
}

.icon {
	visibility: hidden;
}

#home {
	height: 5rem;
}

header {
	background-color: #fbfaf7;
	margin-bottom: 2rem;
}

header img {
	width: 200px;
	padding: 1rem;
	display: block;
	margin: auto;
}

#time, header p {
	font-size: 0.8rem;
	text-align: center;
}

h1, h2, h3 {
    font-family: 'Acme', sans-serif;
}

p {
	font: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
}

li {
	font: 'Roboto', sans-serif;
	margin-top: 1rem;
	margin-right: 40px;
}

.flex-container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.container {
  position: relative;

}

.container figure {
	outline: none;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
	background-color:  #fbfaf7;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: black;
  font-size: 0.8rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.bold {
	font-weight: bold;
}

article {
	background-color: #fbfaf7;
	padding-top: 50px;
	padding-bottom: 50px;
}

article p {
	margin-left: 40px;
	margin-right: 40px;
}

article h2, h3 {
	margin-left: 40px;
	margin-top: 0;
	margin-bottom: 0;
}

figure {
	outline: 1px solid gray;
	width: 200px;
}

figcaption {
	font: 'Roboto', sans-serif;
	text-align: center;
	font-weight: bold;
}

figure p {
	text-align: center;
	font-style: italic;
	margin-top: 2px;
	font-size: 0.8rem;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.plantImage {
	height: 200px;
	width: 200px;
}

figure:hover {
	transform: scale(1.1);
}

.parallax-window {
    min-height: 400px;
}

#services-images {
	width: 300px;
	height: 300px;
	margin: auto;
}

#services .bold {
	color: #fbfaf7;
	background-color: #437214;
	padding: 1rem;
	margin-bottom: 0;
	margin-top: 1px;
}

.hidden-info {
	display: none;
	background-color: #d9f4be;
	padding: 1.5rem;
	margin-top: 0;
}

.awards {
	display: flex;
	justify-content: center;
}

.awards img {
	width: 100px;
	height: 100px;
}

.icons {
	display: flex;
	justify-content: center;
	background-color: #fbfaf7;
	max-width: 200px;
	margin: auto;
}

.icons img {
	margin: 10px;
	width:40px;
	height: 40px;
}

footer {
	background-color: #437214;
	margin-bottom: 0;
	padding: 30px;
}

footer p {
	font-size: 0.7rem;
	text-align: center;
	color: #fbfaf7;
}

@media (min-width: 800px) {

	#services-flex-container {
		display: flex;
	}

	#list {
		width: 50%;
	}
}

