body {
	box-sizing: border-box;
}


#menu {
	display: none;
}

h1, h2 {
    font-family: 'Acme', sans-serif;
}

p {
	font: 'Roboto', sans-serif;
}

article {
	background-color: #fbfaf7
}

article p {
	margin-left: 40px;
	margin-right: 40px;
}

article h2 {
	margin-left: 40px;
}

figure {
	outline: 1px solid gray;
}

figcaption {
	font: 'Roboto', sans-serif;
	text-align: center;
	font-weight: bold;
}

figure p {
	text-align: center;
	font-style: italic;
	margin-top: 2px;
	font-size: 0.8rem;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;
}

.plantImage {
	height: 200px;
	width: 200px;
}

.parallax-window {
    min-height: 400px;
}
